/*style general du corps de la page */
body{
    font-family: Arial, sans-serif;
    background-color: rgb(2, 0, 117);
    margin: 0;
    padding: 20px;
}

/*style du conteneur principal*/

.container{
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgb(222, 221, 221);
}
/*style du titre principal*/

h1{
    text-align: center;
}
/*style des elements individuels du panier*/

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(243, 109, 13);
    padding: 10px 0;
}
/*style des images des articles*/
.cart-item img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
/*style des informations sur les articles*/
.cart-item div{
    flex: 1;
    margin-left: 10px ;
}
/*style des actions pour chaque article*/

.cart-item .actions{
    display: flex;
    align-items: center;
}
/*style des boutons d'augmentation et de diminution de quantite*/

.cart-item .actions button{
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
/* style du bouton coeur*/

.cart-item .actions .coeur{
    color: rgb(250, 126, 2);
    cursor: pointer;
    margin-left: 10px;
}
/*style du bouton coeur si l'article est aime */

.cart-item .actions .coeur .liked{
    color:red;
}
/*style de l'affichage du total*/

.total{
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
/*style du bouton de suppression*/

.supprimer{
    color: rgb(249, 35, 7);
    cursor: pointer;
    margin-left: 10px;
}